html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  position: relative;
  color: #fff;
  background: center / cover no-repeat;
  justify-content: center;
  align-items: center;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.job-box {
  position: relative;
  overflow: hidden;
}

.job-box img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

.job-box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}
.mission-container {
  margin: 3rem 7rem;
  text-align: center;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.logo {
  width: 7rem;
}

.job-pic {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
